* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 80vh;
  background-image: url("../../images/background_model.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.body {
  padding: 30px;
  width: auto; }

.main-body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; }

.uppercase {
  text-transform: uppercase; }

.header {
  width: 100vw;
  height: 30vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px; }

.logo-jrf {
  height: 100px;
  width: 80px;
  background-image: url("/../images/logo_jrf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  width: 20%; }

.logo-jrf:hover {
  background-image: url("/../images/logo_jrf_block2.png");
  background-position: flex-end;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  opacity: 0.7;
  -webkit-transition: background 0.8s;
  transition: background 0.8s; }

.menu-icon-btn {
  display: none; }

.nav-movile {
  display: none; }

.nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 35px;
  width: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 40px; }

.link-item {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.5s, border 1.0s, border-color 0s;
  transition: color 0.5s, border 1.0s, border-color 0s; }

.link-item:hover {
  border-top: 60px solid;
  border-bottom: 10px solid;
  border-color: rgba(255, 255, 255, 0.3); }

@media (max-width: 800px) {
  .menu-icon-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .nav-desktop {
    display: none; }

  .menu-icon {
    width: 40px;
    margin: auto; }

  .menu-icon-cross {
    display: none; }

  .menu-icon:hover {
    background-color: rgba(255, 255, 255, 0.3); }

  .header {
    width: 100vw;
    height: auto;
    padding: 20px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .logo-jrf {
    margin-left: 0;
    width: 50%;
    background-position: left; }

  .nav-movile {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    padding: 0; }

  ul {
    padding: 20px;
    margin-top: 20px;
    width: 100vw; }

  .link-item {
    padding: 15px;
    margin-left: 0;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #555;
    background-color: rgba(244, 244, 244, 0.7);
    border-bottom: 0.5px solid white;
    -webkit-transition: background-color 0.9s, color 0.9s, border 0s;
    transition: background-color 0.9s, color 0.9s, border 0s; }

  .link-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff; } }
.footer {
  background-color: #000;
  width: 100vw;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  opacity: 0.5; }

.logo-jrf-footer {
  margin: auto;
  height: 100%;
  width: 80px;
  background-image: url("/../images/logo_jrf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll; }

.logo-jrf-footer:hover {
  background-image: url("/../images/logo_jrf_block2.png");
  -webkit-transition: background 0.8s;
  transition: background 0.8s; }

button {
  background: none;
  border: none; }

.modalBnt {
  border: 1px solid #fff;
  color: #fff;
  font-size: 1em;
  padding: 10px 40px; }

.close-modalBnt {
  border: none;
  color: #555;
  font-size: 0.9em; }

.close-modalBnt:hover {
  color: rgba(85, 85, 85, 0.3);
  text-decoration: line-through;
  -webkit-transition: text-decoration 0.8s, color 0.8s;
  transition: text-decoration 0.8s, color 0.8s; }

.close-modalBnt:active {
  background-color: rgba(85, 85, 85, 0.3); }

.next-modalBnt {
  border: 1px solid #555;
  color: #555;
  font-size: 1em;
  padding: 10px 20px; }

.next-modalBnt:hover {
  background-color: rgba(85, 85, 85, 0.3);
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s; }

.next-modalBnt:active {
  background-color: rgba(85, 85, 85, 0.9);
  color: #fff;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s; }

.main-body {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.modalBnt:hover {
  background-color: rgba(255, 255, 255, 0.3); }

.modalBnt:active {
  background-color: rgba(85, 85, 85, 0.3); }

.about-modal {
  display: none;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 140px; }

.about-m {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.title-modal {
  font-family: "Montserrat", sans-serif;
  color: #555;
  font-size: 3em;
  font-weight: 200;
  margin-bottom: 25px; }

.subtitle-modal {
  font-family: "Montserrat", sans-serif;
  color: #555;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 200;
  margin-bottom: 20px; }

.main-text-modal {
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 20px; }

.close-modalBnt {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.non-active {
  display: none; }

/*# sourceMappingURL=index.css.map */